#landing-page
  .section1
    .jumbotron.jumbotron-fluid
      .container
        %h1.display-3 Strength to Size
        %p.lead 
          - #Coaching for quality strength
        %p.lead
          = link_to 'Get Started Now', contact_path, class: "btn btn-primary btn-lg"

  .section2
    .container
      = link_to 'http://hongkongweightlifting.com', target: "_blank" do
        = image_tag('partner_logos/hk_weightlifting.png')

      = link_to 'http://inspiringhk.org', target: "_blank" do
        = image_tag('partner_logos/inspiringhk.png')
      
      = link_to 'http://warrioracademyhk.com', target: "_blank" do
        = image_tag('partner_logos/warrior_academy.png')


  .section3.content-section
    .container
      = link_to 'Learn More', about_path, class: "btn btn-primary btn-sm section-button"

      .center-text
        %h4.display-4
          Kay Kay Keung
        %h4
          Founder, Strength & Conditioning Coach
          %br/
          %small.text-muted
            Locations in Central, Sheung Wan & Sai Ying Pun
          

      
      
      


  .section4
    .container
      .card-deck-wrapper
        .card-deck
          .card
            %img.card-img-top{:alt => "Card image cap", :src => "..."}/
            .card-block
              %h4.card-title Personal Training Program
              %p.card-text
                1-on-1 private sessions for maximally individualized coaching
              %p.card-text
                %b Studio
                %br/
                1-9 Sessions 800HKD/hr
                %br/
                10-19 Sessions 750HKD/hr
                %br/
                20-30 Sessions 700HKD/hr

              %p.card-text
                %b Outdoor/Clubhouse
                %br/
                1-9 Sessions 650HKD/hr
                %br/
                10-19 Sessions 600HKD/hr
                %br/
                20-30 Sessions 550HKD/hr
                %br/
                %span.text-muted *Rates do not include clubhouse entry fee

              = link_to 'Start Now', contact_path, class: "btn btn-primary btn-sm"

              
          .card
            %img.card-img-top{:alt => "Card image cap", :src => "..."}/
            .card-block
              %h4.card-title Online Program
              %p.card-text
                Convenient online programming with coaching and feedback for the independent individual
              %p.card-text
                1 Month 1000HKD/month
                %br/
                3 Months 900HKD/month
                %br/
                6 Months 800HKD/month

              = link_to 'Start Now', contact_path, class: "btn btn-primary btn-sm"

          .card
            %img.card-img-top{:alt => "Card image cap", :src => "..."}/
            .card-block
              %h4.card-title Hybrid Program
              %p.card-text
                Combination of 1-on-1 in person sessions supplemented with online coaching
              %p.card-text
                Personal Training Rate + 600HKD/month

              %p.card-text
                %span.text-muted*Minimum 1 Personal Training session/week
                %br/
                %span.text-muted*Contact for corporate or group training

              = link_to 'Start Now', contact_path, class: "btn btn-primary btn-sm"



